body
{
}

h1 { 
    font-family: Helvetica;
    text-align: center;
    font-size: 48px;
}

.about
{
    font-size: 20px;
}

#critique
{
    border: 1px solid #4F4;
    color: Blue;
    text-align:justify;
}