body
{
    background: url(../media/img/bg.png);
    margin: 0;
    line-height: 1.4em;
    font-family: 'Merriweather Sans', sans-serif;
}

h1, h2, h3
{
    margin: 0;
}

h1
{
    background: url(../media/img/logo.png) no-repeat;
    height: 100px;
    width: 800px;
    color: #fff;
    text-indent: -9000px;
    margin: 20px 0 0 0;
}

h2
{
    margin-bottom: 10px;
}

h3
{
    margin-bottom: 5px;
    font-weight: normal;
}

hgroup
{
    color: #fff;
    margin: 0 0 40px 0;
    font-family: 'Libre Baskerville', serif;
}

.container
{
    width: 800px;
    margin: 0 auto 100px auto;
}

article
{
    margin: 250px 0 0 0;
}

#recipes
{
    padding: 15px;
    background: #fff url(../media/img/yum.jpg) no-repeat;
    border-top: 10px solid #222;
    box-shadow: 0 0 10px #555;
}

table, tr, td
{
    border: 1px solid #ccc;
    border-collapse: collapse;
}

table td
{
    padding: 5px;
}