body
{
    background: url(../img/pw_maze_black.png);
    margin: 0 auto;
    font-family: "Helvetica", sans-serif;
    line-height: 1.4em;
    padding: 15px 20px;
}

h1, h2, h3
{
    color: #bbb;
    text-align: center;
    padding: 5px 10px;
}

h1
{
    background: url(../img/pw_maze_black_@2X.png);
    color: #bbb;
    text-align: center;
    margin: 0 auto;
    padding: 20px 25px;
    text-shadow: 1px 1px 2px #aaa;
    border-bottom: 1px solid #aaa;
}

h2
{
    color: #bbb;
    margin: 40px 0 0 0;
    text-align: center;
    padding-bottom: 2px;
    border-bottom: 2px solid #bababa;    
}

footer
{
    clear: both;
}

footer .sitenav
{
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    text-align: center;
    padding: 10px 15px;
}

img
{
    margin: 0 2.5%;
    padding: 30px 2.5%;
    float: right;
}

.container
{
    background: #fff;
    width: 800px;
    margin: 0 auto;
    padding: 15px;
    background: #666;
}

p#landing
{
    color: Blue;
}

p.footer a:link
{
    font-weight: bold;
}

section p
{
    border-bottom: 1px solid #bababa;
}

.single-column
{
    padding: 0 3%;
}

.two-column p
{
    padding: 3% 0;
}

.left-column
{
    margin: 0 2.5%;
    padding: 30px 2.5%;
    width: 40%;
    float: left;
}

.right-column
{
    margin: 0 2.5%;
    padding: 30px 2.5%;
    width: 40%;
    float: left;
}

.sitenav .subtle-link
{
    font-size: .65em;
    color: #222;
}

.disabled-link
{
    color: rgba(155, 155, 155, .5);
}

.offset
{
    padding: 0 0 0 20px;
}

.white-image-fore
{
    font-size: 2em;
    line-height: 1.2em;
    padding: 320px 3% 0 3%;
    text-shadow: 10px 6px 6px #bbb;
    color: #ddd;
}

#question-mark-bg
{
    background: url(../img/QuestionMark.png) no-repeat;
    background-size: 750px 469px;
    background-position: center center;
}

.question-info
{
    color: #bbb;
}

button
{
    margin-bottom: 10px;
}