<!DOCTYPE html>
<html lang="en">
<head>
    <title>Double</title>
    <style type="text/css" media="screen">
        .container
        {
            margin: 0 auto;
            width: 800px;
        }
        
        section
        {
            width: 500px;
            float: left;
        }
        
        aside
        {
            width: 300px;
            float: right;
        }
        
        footer
        {
            clear: both;
            border-top: solid #e3e3e3
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <h1>This is a header</h1>
        </header>
        <section>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur consequat metus vitae est. Duis quis metus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque scelerisque. Nam feugiat diam in odio. Nullam iaculis. Sed elementum enim. Nullam sollicitudin. Aliquam neque. Vestibulum lobortis nibh et sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Vivamus vitae est. Nulla accumsan dui a ipsum. Sed sollicitudin blandit eros. Morbi magna orci, auctor ut, bibendum nec, lobortis vel, dolor. Nullam sem pede, dignissim non, scelerisque nec, euismod sit amet, lorem. Donec ac erat non ipsum pellentesque nonummy. Sed et augue scelerisque purus mattis rutrum. Vestibulum pharetra condimentum nibh.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur consequat metus vitae est. Duis quis metus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque scelerisque. Nam feugiat diam in odio. Nullam iaculis. Sed elementum enim. Nullam sollicitudin. Aliquam neque. Vestibulum lobortis nibh et sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Vivamus vitae est. Nulla accumsan dui a ipsum. Sed sollicitudin blandit eros. Morbi magna orci, auctor ut, bibendum nec, lobortis vel, dolor. Nullam sem pede, dignissim non, scelerisque nec, euismod sit amet, lorem. Donec ac erat non ipsum pellentesque nonummy. Sed et augue scelerisque purus mattis rutrum. Vestibulum pharetra condimentum nibh.
            </p>
        </section>
        <aside>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur consequat metus vitae est. Duis quis metus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque scelerisque. Nam feugiat diam in odio. Nullam iaculis. Sed elementum enim. Nullam sollicitudin. Aliquam neque. Vestibulum lobortis nibh et sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Vivamus vitae est. Nulla accumsan dui a ipsum. Sed sollicitudin blandit eros. Morbi magna orci, auctor ut, bibendum nec, lobortis vel, dolor. Nullam sem pede, dignissim non, scelerisque nec, euismod sit amet, lorem. Donec ac erat non ipsum pellentesque nonummy. Sed et augue scelerisque purus mattis rutrum. Vestibulum pharetra condimentum nibh.
        </aside>
        <footer>
            <p>This is a footer</p>
        </footer>
    </div>
</body>
</html>
